@model IEnumerable<EjercicioEFC.Models.Producto>


<div class="container">

    <p>
        <a asp-action="AgregarProducto" class="btn btn-success">Agregar Producto</a>
    </p>

    <table class="table table-hover">
        <thead>
            <th class="text text-center">Producto</th>
            <th class="text text-center">Categoria</th>
            <th class="text text-center">Acciones</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text text-center">@item.NombreProducto</td>
                    <td class="text text-center">@item.IdCategoriaNavigation.NombreCategoria</td>
                    <td class="text text-center">
                        <a asp-route-id="@item.Id" asp-action="ActualizarProducto" class="btn btn-warning">Actualizar</a>
                        <a asp-route-id="@item.Id" asp-action="EliminarProducto" class="btn btn-danger">Eliminar</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>
